{% extends './partials/layout.html' %}

{% block content %}
<h1>Register</h1>
<form action="{{ url_for('auth.register') }}" method="POST">
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" name="inputEmail" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" id="inputUsername" name="inputUsername">
    </div>
    <div class="form-group">
        <label for="inputFirstName">First Name</label>
        <input type="text" class="form-control" id="inputFirstName" name="inputFirstName">
    </div>
    <div class="form-group">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" name="inputLastName">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="inputPassword">
    </div>
    <div class="form-group">
        <label for="inputPasswordConfirm">Confirm Password</label>
        <input type="password" class="form-control" id="inputPasswordConfirm" name="inputPasswordConfirm">
    </div>
    <p><small>Already have an account? <a href="{{ url_for('auth.login') }}">Login here.</a></small></p>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}